name: Deploy Nextcloud

on:
  push:
    branches:
      - 'feature/nextcloud-suresh'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        
      - name: test job
        run: |
          echo "Hello...."
      